<section class="position-absolute z-3 start-0 end-0">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" routerLink="home">
                <img src="assets/images/logo.png" alt="logo" class="w-100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-black" aria-current="page" routerLink="home">Become a renter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" routerLink="home">Rental deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" routerLink="home">How it work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" routerLink="home">Why choose us</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li>
                        <button class="border-0 py-2 px-4 m-2 rounded bg-transparent">Sign in</button>
                    </li>
                    <li>
                        <button class="border-0 py-2 px-4 m-2 rounded bg-primary text-white">Sign in</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>