<section class="d-flex align-items-center overflow-">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-content text-center text-lg-start">
                    <p class="p-0 m-0">
                        Find, book and rent a car 
                        <span class="d-inline-flex flex-column">
                            <span class="mark">Easily</span>
                            <span class="vector">
                                <svg width="135" height="20" viewBox="0 0 135 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M134.398 2.4454C57.1256 -2.591 23.8505 5.91265 1.51269 9.43271C1.16554 12.3701 1.29738 14.786 0.927661 19.4527C60.8229 -0.00292444 100.753 3.19434 134.353 4.43374C134.367 4.06427 134.357 3.55381 134.398 2.4454Z" fill="#1572D3"/>
                                </svg>
                            </span>
                        </span>
                    </p>
                    <p class="pb-4">
                        Get a car wherever and whenever you need it with your IOS and Android device.
                    </p>
                    <div class="btns d-flex justify-content-center justify-content-lg-start">
                        <button>
                            <img src="assets/images/google play btn.png" alt="">
                        </button>
                        <button>
                            <img src="assets/images/apple btn.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="position-absolute top-0 end-0 img-cont z-n1">
                    <!-- <div class="position-relative"> -->
                        <img src="assets/images/Frame.png" alt="" class="position-absolute end-0 z-1">
                        <img src="assets/images/car 2 1.png" alt="" class="car position-relative z-2 translate-middle-y">
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>